body {
    background-color: #FFFFFF;
}



.grid-parent {
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.grid-child {
    padding: 0rem;
}


.center {
  margin: auto;
  width: 95%;
  border: 3px solid green;
  padding: 10px;
}

.centerImage {
    margin: auto;
    padding: 10px;
    border: 3px solid red;
}

.imageDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.imageDiv img {
    width: 400px;
}

a:link {
    color: #FF0000;
}
