:root {
    --cover-border-radius: 0;
    --ul-list-style-type: square;
}
:root {
    
    --bg-1: hsl(0 0% 90%);
    --bg-1-90: hsl(0 0% 90% / 90%);
    --bg-1-overlay: hsl(0 0% 90% / 80%);
    --bg-2: hsl(0 0% 76.83%);
    --bg-2-overlay: hsl(0 0% 76.83% / 80%);
    --bg-3: hsl(0 0% 62.06%);
    --bg-acc: hsl(0 0% 31.69%);
    --bg-acc-overlay: hsl(0 0% 31.69% / 80%);
    --bg-mg: hsl(0 0% 52%);
    --fg-1: hsl(0 0% 0%);
    --fg-1-focus: var(--fg-3);
    --fg-1-veil: hsl(0 0% 0% / var(--veil-a));
    --fg-2: hsl(0 0% 8.6%);
    --fg-3: hsl(0 0% 28.06%);
    --fg-3-focus: var(--bg-mg);
    --fg-acc: hsl(0 0% 100%);
    --fg-mg: hsl(0 0% 28%);
    --mg: hsl(0 0% 38.86%);
    --mg-acc: hsl(0 0% 31.69%);
    --mg-acc-overlay: hsl(0 0% 31.69% / 80%);
}

@supports (color: oklch(0% 0% 0)) {
    :root {
    
    --bg-1: oklch(21.56% 10.027402% 267);
    --bg-1-90: oklch(21.56% 10.027402% 267 / 90%);
    --bg-1-overlay: oklch(21.56% 10.027402% 267 / 80%);
    --bg-2: oklch(26% 11.663498% 267);
    --bg-2-overlay: oklch(26% 11.663498% 267 / 80%);
    --bg-3: oklch(32% 13.509247% 267);
    --bg-acc: oklch(40.8% 25% 265);
    --bg-acc-overlay: oklch(40.8% 25% 265 / 80%);
    --bg-mg: oklch(41% 15.364699% 267);
    --fg-1: oklch(100% 0% 267);
    --fg-1-focus: var(--fg-3);
    --fg-1-veil: oklch(100% 0% 0 / 2%);
    --fg-2: oklch(86% 6.8124685% 267);
    --fg-3: oklch(72% 12.328212% 267);
    --fg-3-focus: var(--fg-1);
    --fg-acc: oklch(100% 0% 0);
    --fg-mg: oklch(61% 15.054092% 267);
    --mg: oklch(50% 16% 267);
    --mg-acc: oklch(54.6% 25% 265);
    --mg-acc-overlay: oklch(54.6% 25% 265 / 80%);
}

}
@font-face {
    font-display: fallback;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow'), url('barlow-v12-latin-regular.woff2') format('woff2');
}
body, button, input { font-family: 'Barlow', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
